.row
  .span12
    = form_for Packaging.new, :url => "", :html => { :id => "#{form_type}_packaging" } do |f|
      %fieldset
        .control-group
          = f.label :name, :class => "control-label"
          .controls
            = f.text_field :name, :class => "input-xxlarge"

      .row
        #eip-container.span12

      .row
        #eip-buttons.span12.well
          = f.submit t("helpers.submit.#{form_type}", :model => f.object.class.model_name.human), :class => "btn btn-primary right"
