.row
  .span12
    = form_for PossessionDescription.new, :url => "", :html => { :id => "#{form_type}_possession_description" } do |f|
      %fieldset
        .control-group
          = f.label :name, :class => "control-label"
          .controls
            = f.text_field :name, :class => "input-xlarge"

        .control-group
          = f.label :possession_id, :class => "control-label"
          .controls
            = f.collection_select :possession_id, @possessions, :id, :name, { :prompt => true, :class => "input-xlarge" }

      .row
        #eip-container.span12

      .row
        #eip-buttons.span12.well
          = f.submit t("helpers.submit.#{form_type}", :model => f.object.class.model_name.human), :class => "btn btn-primary right"
