.row
  .span12
    = form_for Role.new, :url => "", :html => { :id => "#{form_type}_role" } do |f|
      %fieldset
        .control-group
          = f.label :name, :class => "control-label"
          .controls
            = f.text_field :name, :class => "input-xlarge"

        -#.control-group
        -#  = f.label :is_admin, :class => "control-label"
        -#  .controls
        -#    = f.check_box :is_admin

      .row
        #eip-container.span12

      .row
        #eip-buttons.span12.well
          = f.submit t("helpers.submit.#{form_type}", :model => f.object.class.model_name.human), :class => "btn btn-primary right"
