.row
  .span12
    .page-header
      %h1= t(".title")
      %ul.tabs
        %li
          = link_to t("links.new", :resource => Coverage.model_name.human), "#/new"

.row
  .span12
    %table#coverages_table.table.table-striped
      %thead
        %tr
          %th= Coverage.human_attribute_name(:name)
          %th= Coverage.human_attribute_name(:deductible_min)
          %th.actions
            = link_to "", "#", :class => "icon-refresh", :id => "refresh_coverages", :title => t("links.refresh"), :alt => t("links.refresh")

      %tbody

#pagination-container
